// fonts
$numbers-main: 'Montserrat', sans-serif;
$numbers-another: 'Lato', sans-serif; //weight 300
$letters-desc: 'Raleway', sans-serif;
// colors
$section-income: #28B9B5;
$section-expenses: #e0231c;
$gray: #F7F7F7;
$white: #ffffff;
$dark: #000000;
//other
$init: 1rem;